.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: rgba(220, 220, 220, 0.361);
}
h1 {
  color: gainsboro;
  font-size: 50px;
}
button {
  background-color: rgba(172, 255, 47, 0.692);
}
